<!-- Navbar for the admin dashboard -->
<header>
    <div class="fluid-container bg-primary">
        <p class="h1 text-center py-3 text-light">Admin Settings</p>

        <div class="d-flex justify-content-between">
            <button
                onclick="window.location.href='/dashboard'"
                class="btn btn-primary me-2"
            >
                <i class="fa fa-dashboard"></i> Dashboard
            </button>
            <div>
                <button class="btn btn-primary me-2">
                    <i class="fa-regular fa-user"></i> Account
                    <i class="fa-solid fa-chevron-down"></i>
                </button>

                <button class="btn btn-primary me-2">
                    <i class="fa-regular fa-bell"></i>
                    Notifications
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
        </div>
    </div>
</header>
