<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Device List</title>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.js"
            integrity="sha512-MnKz2SbnWiXJ/e0lSfSzjaz9JjJXQNb2iykcZkEY2WOzgJIWVqJBFIIPidlCjak0iTH2bt2u1fHQ4pvKvBYy6Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- Leaflet CSS -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <script></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css"
            integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <style>
            #map {
                width: 40vw;
                height: 50vh;
            }

            .device-list {
                width: 100vw;
                height: 100vh;
                /*overflow-y: scroll;*/
            }

            @media (max-width: 992px) {
                #map {
                    width: 100%;
                    height: 50vh;
                }
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table,
            th,
            td {
                border: 1px solid black;
            }
            th,
            td {
                padding: 8px;
                text-align: left;
            }
            /* Modal styles */
            .modal {
                display: none; /* Hidden by default */
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            }
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="fluid-container d-lg-flex justify-content-around">
                <p class="d-flex text-center h1">
                    Emergency Device Management System
                </p>
            </div>
        </header>
        <button onclick="toggleMap()">Toggle Map</button>

        <script></script>
        <div class="fluid-container d-lg-flex">
            <!-- Map -->
            <div id="map"></div>

            <div class="device-list">
                <h3 class="text-center">Device List</h3>
                <button id="add-device-btn">Add Device</button>

                <table class="mx-3 overflow-x-scroll">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type ID</th>
                            <th>Room Code</th>
                            <th>Serial Number</th>
                            <th>Date of Manufacture</th>
                            <th>Last Inspection Date</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="emergency-device-body">
                        <!-- Rows will be dynamically loaded here -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- The Modal -->
        <div id="add-device-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Add New Device</h2>
                <form
                    id="create-form"
                    method="POST"
                    action="/api/emergency-device"
                >
                    <label for="room">Room:</label>
                    <input type="text" id="room" name="room" required />

                    <label for="fire_extinguisher_type_id">Type ID:</label>
                    <input
                        type="text"
                        id="fire_extinguisher_type_id"
                        name="fire_extinguisher_type_id"
                        required
                    />

                    <label for="serial_number">Serial Number:</label>
                    <input
                        type="text"
                        id="serial_number"
                        name="serial_number"
                        required
                    />

                    <label for="date_of_manufacture"
                        >Date of Manufacture:</label
                    >
                    <input
                        type="date"
                        id="date_of_manufacture"
                        name="date_of_manufacture"
                        required
                    />

                    <label for="expire_date">Expire Date:</label>
                    <input
                        type="date"
                        id="expire_date"
                        name="expire_date"
                        required
                    />

                    <label for="size">Size:</label>
                    <input type="text" id="size" name="size" required />

                    <label for="misc">Misc:</label>
                    <textarea id="misc" name="misc"></textarea>

                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" required />

                    <button type="submit">Create Device</button>
                </form>
            </div>
        </div>

        <!-- Leaflet js-->
        <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
        ></script>

        <script>
            // hot reload
            if (window.EventSource) {
                new EventSource(
                    "http://localhost:8090/internal/reload"
                ).onmessage = () => {
                    location.reload();
                };
            }
        </script>

        <script>
            // SVG's intrinsic width/height or viewBox values
            const svgWidth = 561.568;
            const svgHeight = 962.941;
            const minX = 128.009;
            const minY = 82.331;

            var map = L.map("map", {
                crs: L.CRS.Simple,
                minZoom: -1,
            });

            var imageUrl = "/static/map_3.svg";

            // Apply these values to the bounds
            const bounds = [
                [0, 0],
                [svgHeight, svgWidth],
            ];

            L.imageOverlay(imageUrl, bounds).addTo(map);

            // Fetch the buildings data draw overlay nat each co ordinate
            fetch("static/buildings.json")
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);

                    // Loop over the buildings and add a rectangle for each one
                    data.buildings.forEach((building) => {
                        var x = building.coordinates.x - minX; // Subtract the min-x value
                        var y = svgHeight - (building.coordinates.y - minY); // Subtract the min-y value and flip the y-coordinate

                        // Create the rectangle
                        var rectangle = L.rectangle([
                            [y - 19, x], // Subtract the height of the rectangle from the y-coordinate
                            [y, x + 19],
                        ]).addTo(map);

                        // Add a click event listener to the rectangle
                        rectangle.on("click", () => {
                            // Fetch devices for the clicked building
                            fetchDevices(building.name); // Pass the building code to fetchDevices
                            console.log("Building clicked:", building.name);
                        });
                    });
                });

            map.fitBounds(bounds);

            async function fetchDevices(buildingCode = "") {
                console.log("Fetching devices for building:", buildingCode);
                try {
                    const url = buildingCode
                        ? `/api/emergency-device?building_code=${buildingCode}`
                        : "/api/emergency-device";
                    console.log("URL:", url);
                    const response = await fetch(url);
                    const devices = await response.json();
                    console.log("Devices:", devices);

                    const tbody = document.getElementById(
                        "emergency-device-body"
                    );
                    tbody.innerHTML = devices
                        .map(
                            (device) => `
            <tr>
                <td>${device.emergency_device_id}</td>
                <td>${device.emergency_device_type_id}</td>
                <td>${device.room_code}</td>
                <td>${device.serial_number}</td>
                <td>${device.manufacture_date}</td>
                <td>${device.last_inspection_date}</td>
                <td>${device.description}</td>
                <td>${device.size}</td>
                <td>${device.status}</td>
            </tr>
        `
                        )
                        .join("");
                } catch (err) {
                    console.error("Failed to fetch devices:", err);
                }
            }

            // Initial fetch without filtering
            fetchDevices();
        </script>

        <script>
            function toggleMap() {
                var map = document.getElementById("map");
                if (map.style.display === "none") {
                    map.style.display = "block";
                } else {
                    map.style.display = "none";
                }
            }
        </script>

        <script>
            // Get the modal
            var modal = document.getElementById("add-device-modal");

            // Get the button that opens the modal
            var btn = document.getElementById("add-device-btn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

            document
                .getElementById("create-form")
                .addEventListener("submit", async function (event) {
                    event.preventDefault(); // Prevent default form submission

                    var formData = new FormData(event.target);

                    try {
                        let response = await fetch(event.target.action, {
                            method: "POST",
                            body: formData,
                        });

                        let result = await response.json();

                        if (!response.ok) {
                            Toastify({
                                text:
                                    result.error ||
                                    "Error creating safety device.",
                                duration: 3000,
                                close: true,
                                gravity: "top",
                                position: "center",
                                backgroundColor:
                                    "linear-gradient(to right, #FF5F6D, #FFC371)",
                            }).showToast();
                        } else {
                            Toastify({
                                text:
                                    result.message ||
                                    "Fire extinguisher created successfully.",
                                duration: 3000,
                                close: true,
                                gravity: "top",
                                position: "center",
                                backgroundColor:
                                    "linear-gradient(to right, #00b09b, #96c93d)",
                            }).showToast();

                            // Close the modal
                            modal.style.display = "none";

                            // Insert the new row into the table
                            if (result.rowHTML) {
                                document
                                    .getElementById("emergency-device-body")
                                    .insertAdjacentHTML(
                                        "beforeend",
                                        result.rowHTML
                                    );
                            }
                        }
                    } catch (error) {
                        console.error("Error submitting form:", error);
                        Toastify({
                            text: "An unexpected error occurred.",
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "center",
                            backgroundColor:
                                "linear-gradient(to right, #FF5F6D, #FFC371)",
                        }).showToast();
                    }
                });
        </script>
    </body>
</html>
