<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EDMS Forgot Password</title>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>

        <!-- Custom CSS-->
        <link rel="stylesheet" href="/static/login.css" />

        <!-- Toastify JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.js"
            integrity="sha512-MnKz2SbnWiXJ/e0lSfSzjaz9JjJXQNb2iykcZkEY2WOzgJIWVqJBFIIPidlCjak0iTH2bt2u1fHQ4pvKvBYy6Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- Toastify CSS-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css"
            integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <script type="text/javascript">
            $(document).ready(function () {
                // Get the error message from the server-side data
                var message = "{{.message}}";
                var error = "{{.error}}";
                var email = "{{.email}}";

                // If there's an error message, display it with Toastify
                if (message) {
                    Toastify({
                        text: message,
                        duration: 3000,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        backgroundColor:
                            "linear-gradient(to right, #008000, #008000)",
                    }).showToast();
                }

                if (error) {
                    Toastify({
                        text: error,
                        duration: 3000,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        backgroundColor:
                            "linear-gradient(to right, #ff5f6d, #ffc371)",
                    }).showToast();
                }
            });
        </script>
    </head>
    <body class="bg-dark">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="text-center my-5">
                            <img
                                src="/static/eit_logo.png"
                                alt="logo"
                                width="100"
                            />
                            <h1 class="fw-bold text-light mt-3">
                                Emergency Device Management System
                            </h1>
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <h1 class="fs-4 card-title fw-bold mb-4">
                                    Forgot Password
                                </h1>
                                <form
                                    method="POST"
                                    class="needs-validation"
                                    novalidate=""
                                    autocomplete="off"
                                    action="/forgot-password"
                                >
                                    <div class="mb-3">
                                        <label
                                            class="mb-2 text-muted"
                                            for="email"
                                            >E-Mail Address</label
                                        >
                                        <input
                                            id="email"
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            value=""
                                            required
                                            autofocus
                                        />
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <button
                                            type="submit"
                                            class="btn btn-primary ms-auto"
                                        >
                                            Send Link
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer py-3 border-0">
                                <div class="text-center">
                                    Remember your password?
                                    <a href="/" class="text-dark">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/static/login.js"></script>
        <script>
            // hot reaload
            if (window.EventSource) {
                new EventSource(
                    "http://localhost:8090/internal/reload"
                ).onmessage = () => {
                    setTimeout(() => {
                        location.reload();
                    });
                };
            }
        </script>
    </body>
</html>
