<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaflet tutorial</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />

    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        width: 75%;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div style="flex: auto">
      <div id="map"></div>
      {{ template "fire_extinguishers.html" . }}
    </div>

    <div
      hidden="true"
      id="popup-content"
      hx-get="/fire-extinguishers/1"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
    <div
      hidden="true"
      id="popup-content-2"
      hx-get="/fire-extinguishers/2"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
    <div
      hidden="true"
      id="popup-content-polygon"
      hx-get="/buildings/1"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
  </body>
</html>

<!-- Leaflet js-->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>

<script>
  // Define coordinates as an array
  var eit_coords = [-39.54715070573233, 176.83765884508824];

  // Initialize the map on the "map" div with a given center and zoom
  var map = new L.Map("map", {
    center: new L.LatLng(eit_coords[0], eit_coords[1]),
    zoom: 18,
  });

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  const customIcon = L.icon({
    iconUrl:
      "https://www.clipartmax.com/png/small/6-60707_onlinelabels-clip-art-cartoon-fire-extinguisher.png",
    iconSize: [38, 38],
  });

  var polygon = L.polygon([
    [-39.546710352704835, 176.8385371636207],
    [-39.546680222627856, 176.83885533638377],
    [-39.54641765997021, 176.83882104709406],
    [-39.54644533055425, 176.83850606403286],
  ]).addTo(map);

  const marker1 = L.marker([-39.546494848686365, 176.83858779392452], {
    icon: customIcon,
  }).addTo(map);

  document
    .getElementById("popup-content")
    .addEventListener("htmx:afterOnLoad", function () {
      marker1.bindPopup(this.innerHTML);
    });

  document
    .getElementById("popup-content-polygon")
    .addEventListener("htmx:afterOnLoad", function () {
      polygon.bindPopup(this.innerHTML);
    });

  const marker2 = L.marker([-39.54656030609369, 176.8387890588548], {
    icon: customIcon,
  }).addTo(map);

  document
    .getElementById("popup-content-2")
    .addEventListener("htmx:afterOnLoad", function () {
      marker2.bindPopup(this.innerHTML);
    });
</script>
